<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script>
</script>

<body>

    <div id="layout">
        <span id="logo">Games</span>
        <span id="games">
                <span>Break_wall</span>
        <span>Num_baseball</span>
        <span>Snakes</span>
        <span>Jumping up</span>
        </span>
        <button onclick={goto()}>sign up</button>
    </div>
    <form action="\post" method="post" class="input-form">
        <textarea type="text" name='id_name' value="tmp tmp tmp" class="input-text"></textarea>
        <input type="submit" value="submit" class="input-btn">
    </form>
    <!-- <div class="print"> {{value}}를 전달받았습니다. </div> -->
</body>

<style>

</style>

</html>